.player-stats-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.player-stats {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.player-stats-stat {
  flex: 1;
}

.player-stats-stat img {
  height: 100px;
  width: 100px;
}

.player-stats-rank {
  font-size: 30px;
  color: white;
}

.player-stats h3 {
  margin: 0;
  color: white;
  letter-spacing: 1px;
  font-size: 35px;
}
