.tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.column {
  width: auto !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-start !important;
}

.tab-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  flex-direction: row !important;
}

.tab-btn:hover {
  background-color: var(--colours-ow-orange-light);
}

.tabs-panel {
  width: 100%;
  font-size: 30px;
  color: white;
}
