.hero-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 30px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.hero-details-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.hero-details-text span:last-child {
  font-size: 20px;
}
