.hero-details {
  max-height: 1099px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 30px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.hero-details-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.hero-details-stats {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  box-sizing: border-box;
}

.hero-details-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  flex-basis: 23%;
}

.hero-details-stat span:last-child {
  text-align: left;
  font-size: 16px;
  color: var(--colours-ow-dark-blue);
}
