.tab-btn {
  background-color: var(--colours-ow-orange);
  border: 0;
  flex: 1;
  height: 50px;
  color: white;
  font-family: Overwatch, Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  border-right: 2px solid var(--colours-ow-orange-light);
  border-radius: 3 0 0 3px;
}

.btn-column {
  width: 150px !important;
  border: 0;
  border-bottom: 1px solid var(--colours-ow-orange-light);
  padding: 5px 0;
  flex: 0;
}

.selected {
  background-color: var(--colours-ow-orange-light);
}

.tab-btn:last-child {
  border: 0;
  border-radius: 0 3px 3px 0;
}
