@font-face {
  font-family: 'Overwatch';
  src: local('Overwatch'), url('./fonts/big_noodle_titling_oblique.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: Overwatch, Arial, Helvetica, sans-serif;
}
